.item-card {
    margin: 30px;
    background: white;
    box-shadow: 1px 1px 10px 1px black;
    width: 200px;
}

img {
  object-fit: cover;
  width: 200px;
  height: 181px;
}

.name {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}

.about {
  padding: 10px;
  display: flex;
  justify-content: space-around;  
}